//COLOR
$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

$color-black: #000;

//GRID
$grid-width: 114rem;
$horizontal-gutter: 6rem;
$vertical-gutter: 8rem;

//DEFAULT FONT SIZE
$default-font-size: 1.6rem;
